img#title {
  background: #ffffff;
  width: 1520px;
  text-align: center;
  border: 1px solid #cccccc;
　top: -100px;
}

div#header {
  color: white;
  font-size: 33px;
  font-weight: bold;
  width: 1500px;
  background: #ff4500;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 720px;
  left:15px ;
}

div#date {
  font-size: 32px;
  background: #f5deb3;
  width: 270px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 740px;
  left:1210px ;
}

div#E1credit {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 670px;
  left:370px ;

}

video#E1 {
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 135px;
  left:15px ;
}

div#E2credit {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 600px;
  left:860px ;
}


div#E2 {
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 210px;
  left:800px ;
}

img#poster {
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 135px;
  left:1160px ;
}

img#logo {
  background: #ffffff;
  width: 180px;
  height: 180px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 680px;
  left:1200px ;
}

img#BGMcredit {
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 740px;
  left:340px ;
}

div#QRinfo {
  font-size: 17px;
  background: #87cefa;
  width: 160px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 610px;
  left:1200px ;
}

img#QRcode {
  background: #ffffff;
  width: 160px;
  height: 160px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 680px;
  left:1200px ;
}
